/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#_printout {
    width: 28%; /* desired relative width */
    left: 0%; /* (100%-width)/2 */
    /* place center */
    margin-left:auto;
    margin-right:auto;
}

#bus_name {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-sm{
    padding: 1px 9px;
}

.pagination {
    display: inline;
}